@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');


::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background: #eaa23b;
  border-radius: 20px;
}


* {
  margin: 0;
  margin-top: 4.5px;
  padding: 0;
}

body {
  background-color: #252433;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li a {
  letter-spacing: 3px;
  margin-left: 32px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

.nav-list li a:hover {
  color: #eaa23b;
  font-weight: 500;
  transition: 0.4s;
}


.logo {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.logo:hover {
  color: #eaa23b;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 70%;
  margin: 2rem auto 0 auto;
}

.home img {
  height: 500px;
}

.description {
  color: white;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  line-height: 2;
  text-align: justify;
}

.home h1 {
  color: white;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 30px;
  margin-right: 20px;
  font-family: 'Poppins', sans-serif;
}

strong {
  text-decoration: underline #eaa23b 4px;
}

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'Poppins', sans-serif;
  margin-top: 17px;

}

.button-52:after {
  content: "";
  background-color: #eaa23b;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
  background-color: #b48c8c;
  transition: 1s;

}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.column-1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 40px 30px 0px 30px;
  float: left;
  width: 50%;
  text-align: justify;

}

.column-2 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 40px;
  text-align: justify;
}

.portfolio {
  padding-top: 50px;
}

.portfolio h1 {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.gallery {
  padding: 20px 40px 0 40px;
}


.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #eaa23b;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus+.label,
.contact-form .input-text.not-empty+.label {
  -webkit-transform: translateY(-24px);
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: #72392b;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,
    -webkit-transform .2s ease-in-out;
}

.submit-btn {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #eaa23b;
  cursor: pointer;
  position: relative;
  background-color: #eaa23b;
  font-family: 'Poppins', sans-serif;

}

.strong-form {
  text-decoration: underline #eaa23b 4px;
}

.footer {
  background-color: #eaa23b;
}

.footer-social ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-right: 7rem;
  margin-top: 20px;
}


.images-gallery ul {
  padding-left: 0;
}

.images-gallery li {
  list-style: none;
  float: left;
  margin: 0 3% 2% 0;
  width: 31%;
  position: relative;
}

.images-gallery li:nth-child(3n) {
  margin: 0 0 1%;
}

.media-left {
  margin-left: 40px;
}

.home-testimonial {
  background-color: #252433;
  height: 380px;
}

.home-testimonial-bottom {
  background-color: #252433;
  margin-top: 20px;
  margin-bottom: 0px;
  position: relative;
  height: 130px;
  top: 190px;
}

.home-testimonial h3 {
  color: var(--orange);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase
}

.home-testimonial h2 {
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.testimonial-inner {
  position: relative;
  top: -174px;
}

.testimonial-pos {
  position: relative;
  top: 24px;
}

.testimonial-inner .tour-desc {
  border-radius: 5px;
  padding: 40px;
}

.color-grey-3 {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: black;
}

.testimonial-inner img.tm-people {
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: none;
}

.link-name {
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
  color: black;
}

.link-position {
  font-family: "Montserrat", Sans-serif;
  font-size: 12px;
  color: black;
}

.tour-desc {
  background-color: #eaa23b;
}